@font-face {
	font-family: 'Geologica';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src:
		local('Geologica Regular'),
		local('Geologica-Regular'),
		url('@/app/fonts/Geologica-Regular.woff2') format('woff2'),
		url('@/app/fonts/Geologica-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Geologica';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src:
		local('Geologica Medium'),
		local('Geologica-Medium'),
		url('@/app/fonts/Geologica-Medium.woff2') format('woff2'),
		url('@/app/fonts/Geologica-Medium.woff') format('woff');
}
