.container-m {
	max-width: 1340px;
	width: 100%;
	padding: 0 $indent-xl;
	margin: 0 auto;

	@media screen and (max-width: 991px) {
		padding: 0 $indent-s;
	}
}

.container-s {
	max-width: 496px;
	width: 100%;
	margin: 0 auto;
}
