@import 'null';
@import 'fonts';
@import 'icons';
@import 'layout';
@import 'typography';
@import 'animations';

body {
	font-family: 'Geologica', sans-serif;
	@include body_p;
	color: $color-white;
	background-color: $color-dark-primary;
}

.lock-scroll {
	overflow: hidden;
	touch-action: none;
}

.modal-h1-title {
	margin-bottom: $indent-m;

	@media screen and (max-width: 768px) {
		margin-bottom: $indent-xs;
	}
}

.h1-title {
	margin-bottom: $indent-m;

	@media screen and (max-width: 768px) {
		margin-bottom: $indent-s;
	}
}
