@mixin h1 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 500;
}

@mixin h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

@mixin button_p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

@mixin body_p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

@mixin body_p_second {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

@mixin caption_p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

@mixin scrollbar($isHorizontal: false) {
	scrollbar-width: thin;

	@media only screen and (hover: hover) {
		&::-webkit-scrollbar {
			@if ($isHorizontal) {
				height: 4px;
			} @else {
				width: 4px;
			}
		}

		&::-webkit-scrollbar-thumb {
			background-color: $color-gray-third;
			border-radius: $border-radius-xs;
		}
	}
}
