.icon-16 {
	width: $icon-s;
	height: $icon-s;
}

.icon-24 {
	width: $icon-m;
	height: $icon-m;
}

.icon-128 {
	width: $icon-2xl;
	height: $icon-2xl;
}

.icon-168 {
	width: $icon-3xl;
	height: $icon-3xl;
}
