.icon-16 {
	width: $icon-s;
	height: $icon-s;
}

.icon-24 {
	width: $icon-m;
	height: $icon-m;
}

.icon-128 {
	width: $icon-xxl;
	height: $icon-xxl;
}

.icon-168 {
	width: $icon-xxxl;
	height: $icon-xxxl;
}
