@import 'null';
@import 'fonts';
@import 'icons';
@import 'layout';
@import 'typography';
@import 'animations';

body {
	background-color: $color-dark-primary;
	color: $color-white;
	font-family: Geologica, sans-serif;

	@include body-p;
}

.lock-scroll {
	overflow: hidden;
	touch-action: none;
}

.h1-indent {
	margin-bottom: $indent-m;

	@media screen and (max-width: 768px) {
		margin-bottom: $indent-s;
	}
}
