$color-white: #fff;
$color-dark-primary: #1e1e2a;
$color-dark-secondary: #242432;
$color-dark-third: #2d3041;
$color-gray-primary: #ececec;
$color-gray-secondary: #868697;
$color-gray-third: #626578;
$color-gray-four: #adb7d0;
$color-blue-primary: #749bff;
$color-blue-secondary: #b3c8ff;
$color-blue-third: #264aa6;
$color-modal-bg: #0006;
$color-error: #ce2929;
$color-success: #28c024;
$color-warning: #fa9723;
$indent-2xs: 4px;
$indent-xs: 8px;
$indent-s: 16px;
$indent-m: 24px;
$indent-l: 32px;
$indent-xl: 40px;
$indent-2xl: 64px;
$indent-3xl: 128px;
$indent-4xl: 184px;
$border-radius-xs: 4px;
$border-radius-s: 8px;
$border-radius-m: 16px;
$icon-s: 16px;
$icon-m: 24px;
$icon-l: 32px;
$icon-xl: 40px;

:root {
	--indent-2xs: #{$indent-2xs};
	--indent-xs: #{$indent-xs};
	--indent-s: #{$indent-s};
	--indent-m: #{$indent-m};
	--indent-l: #{$indent-l};
	--indent-xl: #{$indent-xl};
	--indent-2xl: #{$indent-2xl};
	--indent-3xl: #{$indent-3xl};
	--indent-4xl: #{$indent-4xl};
}
